*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: 'Inter', sans-serif;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --primary: #EF233C;
  --secondary: #FFFFFF;
  --text: #484848;
  --border: #B0B0B0;
}

.poll {
  /* width: 400px; */
  padding: 1.5rem;
  /* margin: 50px; */
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  background-color: var(--secondary);
  color: var(--text);
  width: 100%;
  max-width: 700px;
}

.poll__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.poll__option {
  border-radius: 16px;
  border: 1px solid var(--border);
  overflow: hidden;

  position: relative;
}

.poll__option:hover {
  cursor: pointer;
}

.poll__option:not(:last-child) {
  margin-bottom: 1rem;
}

.poll__option--selected .poll__option-fill {
  background: #EF233C;
}

.poll__option--selected .poll__option-info {
  font-weight: bold;
} 

.poll__option-fill {
  width: 50%;
  height: 70px;
  background: #dddddd;
}

.poll__option-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 700;

  position: absolute;
  width: 100%;
  height: 100%;
}

.tiger-img {
  max-width: 400px;
}

.year {
  font-size: 6rem;
  color: var(--secondary);
  font-weight: 900;
}

.description {
  font-size: 1.5rem;
  color: var(--secondary);
}

.portfolio {
  color: var(--secondary);
  font-weight: 700;
  text-decoration: none;
}